altair
asgiref
attrs
beautifulsoup4
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
contourpy
curl_cffi
cycler
distlib
Django
filelock
fonttools
frozendict
gitdb
GitPython
idna
Jinja2
joblib
jsonschema
jsonschema-specifications
kiwisolver
MarkupSafe
matplotlib
multitasking
narwhals
numpy
packaging
pandas
peewee
pillow
platformdirs
protobuf
pyarrow
pycparser
pydeck
pyparsing
python-dateutil
pytz
referencing
requests
rpds-py
scikit-learn
scipy
seaborn
six
smmap
soupsieve
sqlparse
streamlit
tenacity
threadpoolctl
toml
tornado
typing_extensions
tzdata
urllib3
virtualenv
watchdog
websockets
yfinance
